body.cafe {
  background-color: #f9f8f3;
  color: #333; }

body a {
  color: #ccc; }

.cafe section {
  padding-top: 30px;
  padding-bottom: 30px; }

.cafe__description {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0; }

.cafe__title {
  position: relative;
  margin-bottom: 30px; }
  .cafe__title::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333; }
  .cafe__title span {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 2.5em;
    padding: 0 1em;
    background-color: #f9f8f3;
    text-align: left; }

.cafe__news {
  height: 300px;
  overflow-y: scroll; }
  .cafe__news > div + div {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px; }
  .cafe__news__item dd {
    margin: 0; }
    @media (max-width: 768px) {
      .cafe__news__item dd {
        font-size: 0.75rem; } }
  .cafe__news__time {
    text-align: right; }

.cafe__menu .card {
  background-color: transparent;
  border: none;
  padding: 10px; }
  @media (max-width: 768px) {
    .cafe__menu .card {
      padding: 0; } }

.cafe__menu .card-title {
  font-size: 1rem;
  font-weight: bold; }
  @media (max-width: 768px) {
    .cafe__menu .card-title {
      font-size: 0.75rem; } }

.cafe__menu .card-text {
  font-size: 0.75rem; }

@media (max-width: 768px) {
  .cafe__menu .card-body {
    padding: 8px; } }

.cafe__menu .card-img-top {
  border-radius: 50%; }

#footer.cafe {
  background-color: #333;
  color: #f9f8f3;
  padding-top: 60px;
  padding-bottom: 30px; }
  #footer.cafe .nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      #footer.cafe .nav {
        flex-direction: column;
        align-items: center; } }
  #footer.cafe .nav-link {
    color: #f9f8f3; }
  #footer.cafe .logo-nav {
    width: 250px;
    margin: 30px auto; }
    #footer.cafe .logo-nav a {
      display: block;
      margin-bottom: 10px; }
    #footer.cafe .logo-nav p {
      color: #fff;
      font-size: .75rem;
      line-height: 1.5;
      margin: 0; }
  #footer.cafe .copyright-wrap {
    text-align: center; }
    #footer.cafe .copyright-wrap p {
      margin: 0; }
