body.studio {
  background-color: #f9f8f3;
  color: #333;
  font-family: 'Yomogi', cursive; }

body a {
  color: #ccc; }

.grecaptcha-badge {
  visibility: hidden; }

.studio section {
  padding-top: 30px;
  padding-bottom: 30px; }
  .studio section:last-child {
    padding-bottom: 0; }

.studio__description {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0; }
  @media (max-width: 768px) {
    .studio__description {
      font-size: 0.5rem; } }

.studio__title {
  position: relative;
  margin-bottom: 30px; }
  .studio__title::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333; }
  .studio__title span {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 2.5em;
    padding: 0 1em;
    background-color: #f9f8f3;
    text-align: left; }
    @media (max-width: 768px) {
      .studio__title span {
        font-size: 1.25rem; } }

.studio__subtitle {
  font-size: 1.25rem;
  padding-bottom: .5em;
  border-bottom: 1px solid #333; }
  @media (min-width: 768px) {
    .studio__subtitle {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; } }
  @media (max-width: 768px) {
    .studio__subtitle span {
      display: block;
      text-align: right; } }

.studio__news {
  max-height: 300px;
  overflow-y: scroll; }
  .studio__news > div + div {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px; }
  .studio__news__item dd {
    margin: 0; }
    @media (max-width: 768px) {
      .studio__news__item dd {
        font-size: 0.75rem; } }
  .studio__news__time {
    text-align: right; }

.studio__menu {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    .studio__menu {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .studio__menu .card {
    background-color: transparent;
    border: none;
    padding: 10px; }
    @media (max-width: 768px) {
      .studio__menu .card {
        padding: 0; } }
    @media (max-width: 768px) {
      .studio__menu .card.type2 {
        padding: 10px; } }
  .studio__menu .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center; }
    @media (max-width: 768px) {
      .studio__menu .card-title {
        font-size: 1rem; } }
  .studio__menu .card-text {
    font-size: 0.75rem; }
  @media (max-width: 768px) {
    .studio__menu .card-body {
      padding: 8px; } }
  .studio__menu .card-img-top {
    border-radius: 50%; }

.studio__price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px; }

@media (max-width: 768px) {
  .studio__store > div {
    margin-bottom: 20px; } }

.studio__store__image img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.studio__store__item {
  padding: 20px; }
  @media (max-width: 768px) {
    .studio__store__item {
      padding: 15px; } }
  .studio__store__item h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 2rem; }
    @media (max-width: 768px) {
      .studio__store__item h2 {
        font-size: 1.5rem; } }
  .studio__store__item p {
    margin: 0;
    line-height: 2rem; }

.studio__store__subimagewrap {
  margin-bottom: 30px; }
  .studio__store__subimagewrap .row {
    margin-left: -5px;
    margin-right: -5px; }
    .studio__store__subimagewrap .row > div {
      padding-right: 5px;
      padding-left: 5px; }

.studio__store__subimage {
  max-width: 100%;
  width: 100%;
  height: auto; }

.studio__about {
  background-image: url("./assets/images/studio/studio_about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px; }
  .studio__about__inner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px; }
  .studio__about__title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .studio__about__title {
        font-size: 1.5rem; } }
  .studio__about__body {
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 2; }

.studio__flow__item dt {
  font-size: 1.25rem;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .studio__flow__item dt {
      font-size: 1.125rem; } }
  .studio__flow__item dt span {
    padding-right: 20px; }

.studio__flow__item dd {
  text-align: right; }
  @media (max-width: 768px) {
    .studio__flow__item dd {
      text-align: left; } }

.studio__flow__text {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0; }
  .studio__flow__text span {
    display: block;
    margin-bottom: .2em;
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.5em; }
    @media (max-width: 768px) {
      .studio__flow__text span {
        text-align: center; } }

.studio__main__image img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.studio__wrap {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    .studio__wrap {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .studio__wrap .row > div {
    padding-top: 15px;
    padding-bottom: 15px; }

.studio__item a img {
  max-width: 100%;
  width: 100%;
  height: auto; }

#footer.studio {
  background-color: #333;
  color: #f9f8f3;
  padding-bottom: 30px; }
  #footer.studio .map {
    height: 0;
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    margin-bottom: 60px; }
    @media (max-width: 768px) {
      #footer.studio .map {
        padding-bottom: 56.25%; } }
    #footer.studio .map iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; }
  #footer.studio .information {
    text-align: center;
    margin-bottom: 30px; }
    #footer.studio .information dt {
      font-size: 2rem;
      letter-spacing: 0.2em; }
      @media (max-width: 768px) {
        #footer.studio .information dt {
          font-size: 1.5rem; } }
    #footer.studio .information p {
      margin: 0; }
  #footer.studio .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      #footer.studio .nav {
        flex-direction: column;
        align-items: center; } }
  #footer.studio .nav-link {
    color: #f9f8f3; }
  #footer.studio .logo-nav {
    width: 250px;
    margin: 30px auto; }
    #footer.studio .logo-nav a {
      display: block;
      margin-bottom: 10px; }
    #footer.studio .logo-nav p {
      color: #fff;
      font-size: .75rem;
      line-height: 1.5;
      margin: 0; }
  #footer.studio .copyright-wrap {
    text-align: center; }
    #footer.studio .copyright-wrap p {
      margin: 0; }

#LightboxCanvas {
  max-width: 100%;
  width: 100%;
  height: 80%; }

.modal-content {
  background-color: unset !important; }
