body.cafe {
  background-color: #f9f8f3;
  color: #333; }

body a {
  color: #ccc; }

.grecaptcha-badge {
  visibility: hidden; }

.cafe section {
  padding-top: 30px;
  padding-bottom: 30px; }
  .cafe section:last-child {
    padding-bottom: 0; }

.cafe__description {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0; }

.cafe__title {
  position: relative;
  margin-bottom: 30px; }
  .cafe__title::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333; }
  .cafe__title span {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 2.5em;
    padding: 0 1em;
    background-color: #f9f8f3;
    text-align: left; }

.cafe__news {
  height: 300px;
  overflow-y: scroll; }
  .cafe__news > div + div {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px; }
  .cafe__news__item dd {
    margin: 0; }
    @media (max-width: 768px) {
      .cafe__news__item dd {
        font-size: 0.75rem; } }
  .cafe__news__time {
    text-align: right; }

.cafe__menu .card {
  background-color: transparent;
  border: none;
  padding: 10px; }
  @media (max-width: 768px) {
    .cafe__menu .card {
      padding: 0; } }

.cafe__menu .card-title {
  font-size: 1rem;
  font-weight: bold; }
  @media (max-width: 768px) {
    .cafe__menu .card-title {
      font-size: 0.75rem; } }

.cafe__menu .card-text {
  font-size: 0.75rem; }

@media (max-width: 768px) {
  .cafe__menu .card-body {
    padding: 8px; } }

.cafe__menu .card-img-top {
  border-radius: 50%; }

@media (max-width: 768px) {
  .cafe__store > div {
    margin-bottom: 20px; } }

.cafe__store__image {
  max-width: 100%;
  width: 100%;
  height: auto; }

.cafe__store__item {
  padding: 15px; }
  .cafe__store__item h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 2rem; }
    @media (max-width: 768px) {
      .cafe__store__item h2 {
        font-size: 1.5rem; } }
  .cafe__store__item p {
    margin: 0;
    line-height: 2rem; }

.cafe__about {
  background-image: url(https://placehold.jp/900x500.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px; }
  .cafe__about__inner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px; }
  .cafe__about__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .cafe__about__title {
        font-size: 1.5rem; } }
  .cafe__about__body {
    text-align: center; }

.cafe__flow__item dt {
  font-size: 1.25rem;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .cafe__flow__item dt {
      font-size: 1.125rem; } }
  .cafe__flow__item dt span {
    padding-right: 20px; }

.cafe__flow__item dd {
  text-align: right; }
  @media (max-width: 768px) {
    .cafe__flow__item dd {
      text-align: left; } }

.cafe__flow__text {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0; }
  .cafe__flow__text span {
    display: block;
    margin-bottom: .2em;
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.5em; }
    @media (max-width: 768px) {
      .cafe__flow__text span {
        text-align: center; } }

@media (min-width: 1030px) {
  .studio__main__image {
    position: relative;
    height: 200px; } }

.studio__main__image img {
  max-width: 100%;
  width: 100%;
  height: auto; }
  @media (min-width: 1030px) {
    .studio__main__image img {
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%); } }

.studio__wrap {
  padding-top: 60px;
  padding-bottom: 60px; }
  .studio__wrap .row > div {
    padding-top: 15px;
    padding-bottom: 15px; }

.studio__item .modal-content {
  background-color: unset; }

.studio__item .thum {
  display: block;
  transition: opacity 0.5s ease !important; }
  .studio__item .thum:hover, .studio__item .thum:focus {
    opacity: 0.5; }
  .studio__item .thum img {
    max-width: 100%;
    width: 100%;
    height: auto; }

#footer.cafe {
  background-color: #333;
  color: #f9f8f3;
  padding-top: 60px;
  padding-bottom: 30px; }
  #footer.cafe .nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      #footer.cafe .nav {
        flex-direction: column;
        align-items: center; } }
  #footer.cafe .nav-link {
    color: #f9f8f3; }
  #footer.cafe .logo-nav {
    width: 250px;
    margin: 30px auto; }
    #footer.cafe .logo-nav a {
      display: block;
      margin-bottom: 10px; }
    #footer.cafe .logo-nav p {
      color: #fff;
      font-size: .75rem;
      line-height: 1.5;
      margin: 0; }
  #footer.cafe .copyright-wrap {
    text-align: center; }
    #footer.cafe .copyright-wrap p {
      margin: 0; }
